// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F17654;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// My colors
$ored: #CD462C;
$rose: #F5AFB3;
$rosed: #FFE7E8;
$violet: #F5BBDB;
$noir: #1A1A1A;
$blanc: #ffffff;
