<div class="total-livret embed-responsive embed-responsive-1by1">
  <iframe src="https://docs.google.com/file/d/1DBoSia4iFjsRx9pn-WwQYGoeMX5wUklz/preview"></iframe>
</div>

<%= render 'shared/footer' %>
