.photo-equipe{
  margin-top: 15vh;
  display: flex;
  justify-content: center;
}

.img-equipe{
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
}

.txt-equipe{
  background: $rose;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
  text-shadow: 2px 2px 4px rgba(248, 108, 218, 0.15);
  border-radius: 5px;
  h2{
    @include font-size(60px);
    font-family: 'Open Sans';
    font-weight: 900;
    color: $ored;
    text-align: center;
  }

  h3{
    @include font-size(30px);
    font-family: 'Open Sans';
    font-weight: 700;
    color: white;
    text-align: "." center;
    .quotes-txt{
      color: $ored;
    }
  }

  p{
    @include font-size(32px);
    font-family: 'Allura', cursive;
    text-align: right;
    color: $ored;
    padding-top: 5vh;
  }
}
