.total-home{
  margin-top: 13vh;
}

.part-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-logo{
  @include font-size(175px);
  font-family: 'SeoulHangang-Ligth';
  color: $ored;
  z-index: 900;
}

.p-logo{
  @include font-size(75px);
  font-family: 'Allura', cursive;
  line-height: 4.25rem;
  color: $rose;
}

.pourcentage{
  font-family: 'Open Sans';
  font-weight: 800;
  color: $ored;
}

.info-pourcent{
  font-family: 'Open Sans';
  font-weight: 800;
  color: $orange;
}

.right-border{
  border-right: 0.05px solid $orange;
  border-left: 0.25px solid $orange;
}

.left-border{
  border-left: 0.05px solid $orange;
  border-right: 0.25px solid $orange;
}

.part-rose{
  background: $rose;
  // box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.521);
  overflow: hidden;
  .presentation{
    font-family: 'Open Sans';
    font-weight: 800;
    color: $ored;
  }
}

.detail-photo{
  width: 75%;
  display: block;
  margin: 0 auto;
}


.f-titre{
  @include font-size(48px);
  font-family: 'Open Sans';
  font-weight: 800;
  color: white;
}

.f-st{
  @include font-size(48px);
  font-family: 'Allura', cursive;
  color: $ored;
  text-align: right;
}

.f-para{
  @include font-size(32px);
  font-family: 'Open Sans';
  font-weight: bold;
  color: white;
  text-align: center;
}

.f-plus{
  @include font-size(28px);
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  color: white;
  text-align: center;
}

.l-titre{
  @include font-size(48px);
  font-family: 'Open Sans';
  font-weight: 800;
  color: white;
}

.l-st{
  @include font-size(48px);
  font-family: 'Allura', cursive;
  color: $ored;
  text-align: right;
}

.l-para{
  @include font-size(32px);
  font-family: 'Open Sans';
  font-weight: bold;
  color: white;
  text-align: left;
}

.part-livret{
  margin-top: 4rem;
}

.ombres-text{
  text-shadow: 2px 2px 4px rgba(248, 108, 218, 0.15);
}
