<div class="photo-equipe" data-aos="fade-down" data-aos-offset="200" data-aos-delay="250" data-aos-duration="5000" data-aos-easing="ease-in-out">
  <%= image_tag("equipe.jpg", class: "img-equipe img-fluid max-width: 100%;") %>
</div>

<div class="txt-equipe" data-aos="fade-up" data-aos-offset="0" data-aos-delay="450" data-aos-duration="5000" data-aos-easing="ease-in-out">
  <h3 class="p-5"><span class="quotes-txt">"</span> Boob Kit c’est un projet innovant crée par nous, 4 étudiantes ingénieures de Polytech Angers. Notre envie, dédramatiser l’acte d’autopalpation de la poitrine et le rendre plus ludique.
  Le kit que nous avons imaginer permettra à chaque femme de pouvoir prendre encore plus soin d’elle grâce à une huile formulée par nos soins mais aussi de s’informer sur sa santé grâce au livret que nous avons écrit et validé par des sages femmes. <span class="quotes-txt">"</span></h3>
  <p class="p-4" data-aos="fade" data-aos-offset="75" data-aos-delay="50" data-aos-duration="5000" data-aos-easing="ease-in-out">Anais, Marion, Chloé et Yaèl</p>
</div>

<%= render 'shared/footer' %>
