<div class="photo-equipe" data-aos="fade-down" data-aos-offset="200" data-aos-delay="250" data-aos-duration="5000" data-aos-easing="ease-in-out">
  <%= image_tag("equipe.jpg", class: "img-equipe img-fluid max-width: 100%;") %>
</div>


<div class="txt-equipe my-5 mx-1" data-aos="fade-up" data-aos-offset="0" data-aos-delay="450" data-aos-duration="5000" data-aos-easing="ease-in-out">
  <h2 class="pt-4 px-4">Message de notre équipe:</h2>
  <h3 class="px-5 pt-3"><span class="quotes-txt">"</span> Boob'Kit est un projet innovant créé par nous, 4 étudiantes ingénieures de Polytech Angers. Notre envie : dédramatiser l’acte d’autopalpation de la poitrine et le rendre plus ludique. Le kit que nous avons imaginé permettra à chaque femme de pouvoir prendre encore plus soin d’elle grâce à une huile formulée par nos soins mais aussi de s’informer sur sa santé grâce au livret que nous avons écrit et validé par des personnels de santé. <span class="quotes-txt">"</span></h3>
  <p class="p-4" data-aos="fade" data-aos-offset="75" data-aos-delay="50" data-aos-duration="5000" data-aos-easing="ease-in-out">Anais, Marion, Chloé et Yaèl</p>
</div>

<%= render 'shared/footer' %>
