<footer class="py-2">
  <div class="bk-footer d-flex justify-content-between align-items-center">
    <div class="insta-link pl-2">
      <a href="https://www.instagram.com/boob.kit/" target="_blank" class="btn btn-warning rounded-pill">Tout sur notre projet <i class="fab fa-instagram"></i></a>
    </div>

    <%= image_tag("polytech.png", class: "polytech img-fluid max-width: 100%;") %>
  </div>
</footer>
