<div class="total-home">
  <div class="part-top mx-4">
    <div class="row mb-5">
      <div class="part-logo col-sm-12 col-lg-6">
        <h1 class="title-logo pl-2">Boob'Kit</h1>
        <p class="p-logo">Le kit de prévention des maladies mammaires</p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <%= image_tag("home-top.png", class: "img-fluid max-width: 100%;") %>
      </div>
    </div>

    <div class="row text-center mb-5">
      <div class="right-border col-sm-12 col-md-6 py-3" data-aos="fade-up" data-aos-offset="200" data-aos-duration="5000" data-aos-easing="ease-in-out">
        <h2 class="pourcentage">13%</h2>
        <h3 class="info-pourcent px-4">des française ne savent pas ce qu'est l'autopalpation</h3>
      </div>
      <div class="left-border col-sm-12 col-md-6 py-3" data-aos="fade-up" data-aos-offset="200" data-aos-duration="5000" data-aos-easing="ease-in-out">
        <h2 class="pourcentage">60%</h2>
        <h3 class="info-pourcent px-4">des française ne savent pas comment la réaliser</h3>
      </div>
    </div>
  </div>

  <div class="part-rose">
    <h2 class="presentation text-center my-5">Un kit gratuit comprenant:</h2>

    <div class="row mb-5">
      <div class="col-sm-12 col-lg-6" data-aos="fade" data-aos-offset="200" data-aos-delay="50" data-aos-duration="5000" data-aos-easing="ease-in-out">
        <%= image_tag("flacon-detail.png", class: "detail-photo img-fluid max-width: 100%;") %>
      </div>
      <div class="col-sm-12 col-lg-6 p-5" data-aos="fade-left" data-aos-offset="200" data-aos-delay="300" data-aos-duration="5000" data-aos-easing="ease-in-out">
        <h1 class="f-titre">UNE HUILE</h1>
        <h2 class="f-st">pour accompagner le geste</h2>
        <h3 class="f-para">Assouplissante</br>
          Émolliente</br>
          Apaisante</br>
          Réparatrice</br>
        </h3>
        <p class="f-plus">Une huile pénétrante au toucher soyeux
          dédramatisant la palpation
        </p>
      </div>
    </div>

    <div class="part-livret row">
      <div class="col-sm-12 col-lg-6" data-aos="fade" data-aos-offset="200" data-aos-delay="50" data-aos-duration="5000" data-aos-easing="ease-in-out">
        <%= image_tag("livret-detail.png", class: "detail-photo img-fluid max-width: 100%;") %>
      </div>
      <div class="col-sm-12 col-lg-6 p-5" data-aos="fade-left" data-aos-offset="200" data-aos-delay="300" data-aos-duration="5000" data-aos-easing="ease-in-out">
        <h1 class="l-titre">UN LIVRET</h1>
        <h2 class="l-st">pour tout expliquer</h2>
        <h3 class="l-plus">Détaillant:</h3>,<br/>
        <h3 class="l-para">L'anatomie du sein</br>
          Les maladies mammaires</br>
          L'autopalpation</br>
          L'intérêt de l'huile</br>
          Numéros utiles</br>
          Calendrier de palpation
        </h3>
      </div>
    </div>

  </div>
</div>
