.bk-footer{
  margin: 0 auto;
  bottom: 0;
}

.insta-link{
  @include font-size(25px);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: $ored;
  a{
    text-decoration: none;
    &:hover{
      color: #e2664d;
    }
  }
}

.polytech{
  width: 30%;
}
