.bk-footer{
  margin: 0 auto;
  bottom: 0;
}

.insta-link{
  a{
    color: white;
    text-decoration: none;
    @include font-size(25px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
}

.polytech{
  width: 30%;
}
