.navbar-lewagon {
  justify-content: space-between;
  background: $orange;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar h2{
  font-size: 32px;
  font-weight: 800;
  color: white;
}

// .link-color {
//   text-decoration: none;
//   color: $rose;
//   &:hover{
//     color: white;
//   }
// }

// .actif .link-color{
//   color: white;
// }
